.aboutProfile {
    margin-top: 20px;
}

.aboutProfile__body {
    display: flex;
}

.aboutProfile__avatar {
    margin: 0 5px 0 5px;
}

.aboutProfile__img  img{
    width: 100px;
    height: 100px;
}

.aboutProfile__description {
    margin-left: 40px;
}

.aboutProfile__about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}