.dialogs {
    flex: 1 1 auto;
}

.dialogs__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.dialogs__title {
    justify-self: center;
    align-self: center;
}

.dialogs__columns {
    display: flex;
    flex: 1 0 auto;
}

.dialogs__names_columns {
    width: 150px;
}

.dialogs__propsname {
    margin-top: 20px;
}

.dialogs__messages_columns {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.dialogs__propsmessages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 auto;
}

.dialogs__post {
    margin: 20px 0 0 190px;
    justify-self: center;
    display: flex;
}

.dialogs__post input {
    max-width: 500px;
    height: 20px;
}

.dialogs__post button {
margin-left: 10px;
}