.dialogs {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.headerNameDialogs {
    display: flex;
    justify-content: center;

}

.headerForNameAndMessages {
    display: flex;
    flex: 1;
}

.headerForNameAndMessages > div:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
}

.letterMessage {
    display: flex;
    align-items: center;
    margin-left: 15px
}

.usersDialogsName {
    margin-top: 20px;
    width: 150px;
}

.usersDialogsMessages {
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.inputBlockText {
    display: flex;
    margin-left: 165px;
}


.inputTextForMessage {
    width: 500px;
    height: 30px;
}

.inputButtonAddNewMessage {
    margin: 0 30px 0 20px;
}
