.dialogs {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.headerNameDialogs {
    display: flex;
    justify-content: center;
}

.headerForNameAndMessages {
    display: flex;
    flex: 1;
}

.headerForNameAndMessages > div:last-child {
    margin-left: 200px;
}

.usersDialogsNameAndMessage {
    margin-top: 20px
}

.inputBlockText {
    display: flex;
    justify-content: center;
}


.inputTextForMessage {
    width: 500px;
    height: 30px;
}

.inputButtonAddNewMessage {
    margin: 0 50px 0 10px;
}
