.header__body {
    width: 1000px;
    background: lightseagreen;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__img {
    padding-left: 10px;
}

.header__img img {
    width: 80px;
    height: 80px;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header__title h1:hover{
    transform: scale(1.5);
    transition: 1.5s;
}

.login {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__name {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}


