.footer__body {
    width: 1000px;
    background: lightseagreen;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__title {
    font-size: 25px;
    color: white;
}