@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.app {
    border: 1px solid black;
}

.app {
    font-family: 'Exo 2', sans-serif;
    width: 1000px;
    height: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.header {
    width: 1000px;
    height: 100px;
    background: lightseagreen;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerImgLogo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.main {
    width: 1000px;
    height: 1000px;
    margin-top: 20px;
    display: flex;
}

.nav {
    width: 150px;
    height: 1000px;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nav > div {
    color: white;
    margin: 7px 0 0 10px;
}

.nav:first-child {
    padding-top: 10px;
}

.content {
    width: 850px;
    height: 1000px;
    margin-left: 20px;
}

.mainImgLogo {
    width: 850px;
    height: 100px;
}