@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.app__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.app {
    font-family: 'Exo 2', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}