.nav {
    width: 150px;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
}

.nav > div {
    margin: 7px 0 0 10px;
}

.nav > div > a {
    color: white;
    text-decoration: none;
}

.nav > div > a:hover {
    text-decoration: underline;
    background: mediumslateblue;
    transition: 0.3s;
}

.nav > div > a:visited {
    color: white;
}

.nav div:first-child {
    padding-top: 10px;
}

.nav div:nth-child(5) {
    padding-top: 20px;
}

.active {
    background: mediumslateblue;
}