.nav {
    width: 130px;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.nav > div {
    margin: 7px 0 0 10px;
}

.nav > div > a {
    color: white;
    text-decoration: none;
}

.nav > div > a:hover {
    text-decoration: underline;
    background: mediumslateblue;
    transition: 0.3s;
}

.nav > div > a:visited {
    color: white;
}

.nav div:first-child {
    padding-top: 10px;
}

.nav div:last-child {
    padding-top: 20px;
}

.active {
    background: mediumslateblue;
}